// Colors
$color-black: #000;
$color-white: #FFF;

$color-black-dark: #25262A;
$color-black-light: #EEE;

$color-purple: #7971EA;
$color-light-green: #A6F3ED;
$color-dark-green: #54C3BB;

// Auth form specific colors
$color-light-green: rgba(166, 243, 237, .38);
$color-dark-green: #54C3BB;
$color-placeholder-light: #818181;

// Footer specific colors
$color-footer-light: #8C92A0;

// Height
$height-nav-auth: 7.5rem;

// Fonts
$font-brand: 2rem;
$font-heading-tertiary: 1.3rem;
$font-footer: 1.15rem;