.brand {
    &__text {
        color: inherit;
        font-size: $font-brand;
        letter-spacing: 2px;
    }
}

.heading-primary {
    color: $color-black-dark;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.heading-tertiary {
    color: $color-black-dark;
    font-size: $font-heading-tertiary;
    font-weight: 500;
    letter-spacing: .6px;
    width: 80%;
    text-align: center;
}

.link-help {
    @include resetlink;
    color: $color-purple;
}

.footer {
    &__text {
        color: $color-footer-light;
        font-size: $font-footer;
    }
}